.navbar-brand{
    max-width: 25%;
    position: absolute;
    left: 35%;
    top: 10%;
}
#header {
    background-image: url(../img/home-bg.gif);
    background-size: cover;
    height: 100vh;
}
.grid-container{
    padding-top: 7%;
    display: grid;
    height: 100%;
}
.item-1{
    background-color: blue;
}
.item-2{
    background-color: yellow;
}
.item-3{
    background-color: red;
}

.item-4{
    background-color: skyblue;
}
.item-5{
    background-color: orange;
}

.item-6{
    background-color: brown;
}
@media Screen and (min-width: 1024px){
    .navbar-brand{
        max-width: 10%;
        position: relative;
        left: 2%;
        top: 10%;
    } 
    .grid-container{
        display: grid;
        width: 100%;
        grid-template-columns: 25% 20% 10% 40%;
    }
}